label.requerido::after{
    content: " *";
    color: red
}

.colorSea{
    background-color: rgb(41, 54, 67) !important;
}

.colorTextSea{
    color: rgb(41, 54, 67) !important;
}

.cursor{
    cursor: pointer;
}
